<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">
				{{ if .Draft }} <span class="draft-label">VÁZLAT / ENTWURF / DRAFT</span> {{ end }}
				<table>
					<tr><td>{{ .Date.Year }}. {{ index $.Site.Data.Months.hu .Date.Month }} {{ .Date.Day }}-jén tették közzé</td></tr>
					<tr><td>am {{ .Date.Day }}. {{ index $.Site.Data.Months.de .Date.Month }} {{ .Date.Year }} veröffentlicht</td></tr>
					<tr><td>published on {{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }}</td></tr>
				</table>
			</div>
		</div>

		<div class="markdown">
			{{ .Content }}
		</div>

		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
					<nav class="nav tags">
							<ul class="flat">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
					</nav>
				{{ end }}
			{{ end }}
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
